/* Styles inspired by and modified from https://webdesign.tutsplus.com/tutorials/build-a-simple-weather-app-with-vanilla-javascript--cms-33893*/

:root {
    --light: #fff;
}

button {
    cursor: pointer;
}

ul {
    list-style: none;
}

.ajax .cities {
    width: 350px;
}

.ajax .city {
    position: relative;
    padding: 35px 10%;
    border-radius: 20px;
    border: solid 1px gray;
    background: var(--light);
    color: #53627c;
}

.ajax .city::after {
    content: '';
    width: 90%;
    height: 45px;
    position: absolute;
    bottom: -10px;
    left: 5%;
    z-index: -1;
    opacity: 0.3;
    border-radius: 20px;
    background: var(--light);
}

.ajax figcaption {
    margin-top: 8px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
}

.ajax .city-temp {
    font-size: 4.8rem;
    font-weight: bold;
    margin-top: 10px;
    color: #1e2432;
}

.ajax .city sup {
    font-size: 0.45em;
}

.ajax .city-name sup {
    padding: 0.18em 0.57em;
    border-radius: 25px;
    color: var(--light);
    background: orange;
}